{% extends 'base.html.twig' %}

{% block body %}
    <div class="container profil_layout">
        <div class="row">
            <h1>Profil de {{ app.user.username }}</h1>
        </div>
        {% for label, messages in app.flashes(['info', 'error']) %}
            {% for message in messages %}
                <div class="row flash-message-{{ label }}">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endfor %}
        <section class="row">
            <div class="col-md-4">
                <div class="row">
                    <p>Nombre de contribution : {{ contribution_count }}</p>
                </div>
            </div>
            <div class="col-md-4">
                {{ form_start(mail_form) }}
                    {{ form_label(mail_form.email) }}
                    {{ form_widget(mail_form.email) }}
                    <button class="col-md-6 offset-md-6 btn btn-primary btn-profil" type="submit">Changer e-mail</button>
                {{ form_end(mail_form) }}
            </div>
            <div class="col-md-4">
                {{ form_start(password_form) }}
                    {{ form_label(password_form.password) }}
                    {{ form_widget(password_form.password) }}
                    {{ form_label(password_form.retypePassword) }}
                    {{ form_widget(password_form.retypePassword) }}
                    <button class="col-md-6 offset-md-6 btn btn-primary btn-profil" type="submit">Changer password</button>
                {{ form_end(password_form) }}
            </div>
        </section>
        <section class="row favorite-section">
            <div class="col-md-6">
                <div class="row">
                    <h4>Vos recettes</h4>
                </div>
                {% for recipe in authored_recipe_list %}
                    <div class="row">
                        <div class="card mb-3" style="width: 500px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="{{ asset(authored_recipe_image[loop.index0]) }}" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ recipe.name }}</h5>
                                        <p class="card-text">{{ recipe.preparation }}</p>
                                    </div>
                                    <a class="btn btn-primary" href="{{ path('recipe_show', {'id': recipe.id}) }}">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h4>Vos favoris</h4>
                </div>
                {% for favorites in favorite_recipe_list %}
                    <div class="row">
                        <div class="card mb-3" style="width: 500px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="{{ asset(favorite_recipe_image_list[loop.index0]) }}" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ favorites.name }}</h5>
                                        <p class="card-text">{{ favorites.preparation }}</p>
                                    </div>
                                    <a class="btn btn-primary" href="{{ path('recipe_show', {'id': favorites.id}) }}">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
