{% extends 'base.html.twig' %}

{% block title %}WeeCook - Search{% endblock %}

{% block body %}
<div class="container search-content">
    <div class="row">
        <div class="col-md-12">
            <h1>Chercher une recette</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_widget(form.searchString) }}
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
            <button type="submit" class="btn btn-primary search-button">Rechercher</button>
            {{ form_end(form) }}
            {#
            <form>
                <div class="form-group">
                    <label for="searchField">Rechercher: </label>
                    <input class="form-control" type="text" id="searchField"/>
                </div>
            </form>
            #}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Ou rechercher par ingrédients !</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form_ingredient) }}
                {{ form_widget(form_ingredient.ingredient1) }}
                <button type="submit" class="btn btn-primary">Rechercher</button>
            {{ form_end(form_ingredient) }}
        </div>
    </div>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ images[loop.index0] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.name }}</h5>
                    <p class="card-text">{{ recipe.preparation }}</p>
                    <a href="{{ path('recipe_show', {'id': recipe.id}) }}" class="btn btn-primary">Consulter</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
