{% extends 'base.html.twig' %}

{% block body %}
    <div class="container create_page">
        {{ form_start(recipe_form) }}
            <h1 class="col-md-12">Créer une recette</h1>
            <div class="row">
                {{ form_widget(recipe_form.name) }}
            </div>
            <div class="row">
                <h4 class="col-md-3 col-sm-6">Ingrédient</h4>
                <h4 class="col-md-3 col-sm-6">Quantité</h4>
                <h4 class="col-md-4 offset-md-1 photo">Ajouter une photo</h4>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12" id="create_form" data-items="{{ ingredients }}">
                    {#
                        Here comes webpack entrypoint 'create_form' for the React component who list ingredient dynamically
                        data-items used to transport ingredient list serialized in JSON
                    #}
                </div>
                <div class="col-md-6">
                    <div class="row">
                        {{ form_widget(recipe_form.image1) }}
                    </div>
                </div>
            </div>
            <div class="row">
                {{ form_widget(recipe_form.preparation) }}
            </div>
            <div class="row">
                <button type="submit" class=" submit-btn btn btn-success col-md-2 offset-md-10">Publier !</button>
            </div>
        {{ form_end(recipe_form) }}
    </div>
    {{ encore_entry_script_tags('create_form') }}
{% endblock %}